.spinner-container{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.img-spinner{
    width: 25%;
}

.error-container{
    position: fixed;
    left: 0%;
    right: 0%;
    top: 40%;
}