.info-movie-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    justify-content: center;
    padding: 10px;
    margin-top: 20rem;
}

.img-info-movie{
    border: 1px solid white;
    border-radius: 10px;
}

img{
    width: 85%;
    height: 70%;
}

.info-movie{
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    margin-top: 10px;
}

.info-movie > span {
    font-size: 16px;
}

@media (min-width:360px)  { 
    .info-movie-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        justify-content: center;
        padding: 10px;
        margin-top: 22rem;
    } 

    img{
        width: 60%;
        height: 70%;
    }

    .img-info-movie{
        border: 1px solid white;
        border-radius: 10px;
    }
    
    .info-movie{
        display: grid;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        margin-top: 20px;
    }
    .info-movie > span {
        font-size: 9px;
    }
}

@media (min-width:801px)  { 
    .info-movie-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        justify-content: center;
        padding: 10px;
        margin-top: 20rem;
    } 

    img{
        width: 70%;
        height: 70%;
    }

    .img-info-movie{
        border: 1px solid white;
        border-radius: 10px;
    }
    
    .info-movie{
        display: grid;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        margin-top: 10px;
    }
    .info-movie > span {
        font-size: 14px;
    }
}

@media (min-width:1025px) { 
    .info-movie-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        text-align: center;
        justify-content: center;
        padding: 10px;
        margin-top: 20rem;
    }
    
    .img-info-movie{
        border: 1px solid white;
        border-radius: 10px;
    }
    
    img{
        width: 85%;
        height: 70%;
    }
    
    .info-movie{
        display: grid;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        margin-top: 10px;
    }
    
    .info-movie > span {
        font-size: 16px;
    }
}

@media (min-width:1281px) { 
    .info-movie-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        text-align: center;
        justify-content: center;
        padding: 10px;
        margin-top: 20rem;
    }
    
    .img-info-movie{
        border: 1px solid white;
        border-radius: 10px;
    }
    
    img{
        width: 85%;
        height: 70%;
    }
    
    .info-movie{
        display: grid;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        margin-top: 10px;
    }
    
    .info-movie > span {
        font-size: 16px;
    }
}
