.pages-movies-container{
    position: absolute;
    top: 100%;
    left: 0%;
    right: 0%;
    text-align: center;
    padding: 10px;
}

.active-link{
    background-color: darkred;
}

.link-pagination:link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    text-align: center;
}

.link-pagination:visited {
    color: white;
}

.link-pagination:active {
    text-decoration: none;
}