.pages-movies-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px;
}

.active-link{
    background-color: darkred;
}

.link-pagination:link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
    padding: 5px;
}

.link-pagination:visited {
    color: white;
}

.link-pagination:active {
    text-decoration: none;
}