.container-search-box{
    padding: 10px;
    width: 100%;
    position: relative;
    top: 10rem;
}

.input-search-movie{
    border-radius: 5px;
    padding: 10px;
    width: 50%;
    color: black;
    font-size: 15px;
    font-weight: bold;
}