html, body{
    height: auto;
    margin: 0;
    background-color: black;
    font-family: 'Inconsolata', monospace;
    font-size: 12px;
}

.App{
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    height: 100%;
    width: -moz-available;        
    width: -webkit-fill-available; 
    background: url('./assets/image/Netflix_logo.svg') center no-repeat;
    background-size: contain;
    background-position-x: center;
    text-align: center;
}